<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>227145690059-al3vjpm64abqbcfki45sdq7mur6dl7hl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.227145690059-al3vjpm64abqbcfki45sdq7mur6dl7hl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>227145690059-5edo531bhi1sqansc5n0b3ji9a2hncdu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBKVWSPQAK2-WHGZf_Uh43YCap5yGudLw4</string>
	<key>GCM_SENDER_ID</key>
	<string>227145690059</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.tareafinalsergiohidalgo6a9</string>
	<key>PROJECT_ID</key>
	<string>tareafinal-7f06f</string>
	<key>STORAGE_BUCKET</key>
	<string>tareafinal-7f06f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:227145690059:ios:2fed0a05523a6925fd644e</string>
</dict>
</plist>